@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: 'Poppins';
}


.carousel span {
    color: orange;
}

/* Estilos do carrossel */
.carousel {
    background-color: black;

    margin-top: 0px;
    /* Ajusta a margem para posicionar abaixo da barra de navegação */
    position: relative;
}

.carousel-inner {
    position: relative;
}

.carousel-item {
    display: none;
}

.carousel-item.active {
    display: block;
}

.carousel-item img {
    width: 100%;
    height: auto;
}

/* Estilos dos botões de seta */
.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;
    /* Garante que os botões fiquem sobrepostos */
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}


.division-bar {
    width: 4%;
    border-radius: 40px;
    height: 5px;
    margin-top: 1%;
    background-color: rgb(255, 255, 255);
}

.carousel-caption {
    position: absolute;
    top: 25%;
    /* Posiciona os textos no topo da imagem */
    left: 50%;
    /* Centraliza horizontalmente */
    transform: translateX(-50%);
    text-align: left;
    /* Alinha o texto à esquerda */
    padding: 30px;
    color: white;
    width: 80%;
    /* Limita a largura do contêiner para evitar que fique muito largo */
}

.carousel-caption h1 {
    font-size: 46px;
    color: #fff;

    width: 50%;
    height: auto;

    margin-top: -100px;
}

.carousel-caption p {
    margin-top: 1%;

    width: 45%;
    height: auto;

    font-size: 20px;
    color: #fff;
}

.carousel img {
    width: 100%;
    height: auto;
}

.bi-informations {
    display: block;
}

.bi-informations-title {
    font-size: 30px;
    color: #041329;

    text-align: center;

    margin-top: 5%;
}

.bi-informations-img img {
    width: 70%;

    margin-left: 13%;
}

.bi-informations-paragraphs {
    background-color: #4A6D8B;
    color: #fff;
    font-size: 20px;
    font-weight: 500;

    text-align: center;

    padding: 2%;

    width: 70%;
    height: 200px;

    border: none;
    border-radius: 8px;

    margin-left: 14%;
}

.biul-informations {
    display: block;

    background-color: #4A6D8B;

    margin-top: 3%;

    width: 100%;
    height: 650px;
}

.biul-informations ul {

    margin-top: 2%;
}

.biul-informations li {
    text-align: left;

    margin-left: 25%;

    color: #ffffff;


    font-size: 13px;
    font-weight: 300;

    margin-top: -10px;
    padding-top: 20px;

    width: 70%;
}


.biul-informations h1 {
    padding: 40px;
    color: rgb(0, 36, 90);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10%;
}

.left-column,
.right-column {
    width: 100%;
    margin-bottom: 20px;
}

.box {
    background-color: #a31515;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    height: 200px;
    text-align: left;
}

h2 {
    margin-top: 0;
    color: rgb(14, 5, 136);
    margin-left: 20%;
    margin-top: -5%;
}

.box p {
    margin-left: 20%;
}

h2:hover {
    color: #2079ff;
    cursor: pointer;
}




#h1-container-title h1 {
    color: #12106f;
    margin-top: 5%;
    font-size: 50px;
    text-align: center;
    font-weight: 700;

    height: 1px;
}

.contato {
    background-color: #ffffff;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group textarea {
    resize: vertical;
}

.btn-submit {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



.container {
    display: flex;
    justify-content: center;
    height: auto;

    margin-left: 2%;
}

.left-column,
.right-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33%;
}

#box {
    margin: 10px;
    padding: 10px;
    width: 95%;
    height: 165px;
    background-color: #fafafa;
}


h2 {
    color: rgb(14, 5, 136);
    margin-left: 15%;

    margin-top: -8%;
}

#box p {
    margin-left: 15%;
    font-size: 14px;

    align-items: center;
}

h2:hover {
    color: #2079ff;
    cursor: pointer;
}

#box img {
    width: 40px;
    display: block;
    margin-left: 5%;
    align-items: center;

}



#box:hover {
    translate: 0px 10px;
    transition: 1s;

    cursor: pointer;
}

#h1-container-title h1 {
    color: #2422c5;
    margin-top: 5%;
    font-size: 50px;
    text-align: center;
    font-weight: 700;
}

#container-contato {
    max-width: 500px;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#container-contato h1 {
    font-size: 24px;
    margin-top: -10px;
    margin-bottom: 20px;
    text-align: center;
    color: #333333;
}

label {
    font-weight: bold;
    color: #333333;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
}


input[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.required {
    color: red;
    font-size: 18px;
    margin-left: 5px;
}


.navbar {
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.5s ease, height 0.5s ease;
    /* Adicionando a transição para a mudança de altura */
    height: 70px;
    /* Definindo uma altura inicial */
}

.navbar.scroll {
    height: 90px;
    /* Alterando a altura durante o scroll */
    background-color: rgba(0, 0, 0, 0.493);
}

.navbar input[type=button] {
    background-color: rgb(253, 253, 253);

    border: none;

    width: 110px;
    height: 30px;

    font-size: 13px;
    font-weight: 600;

    border-radius: 7px;
    color: black;

    cursor: pointer;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

.navbar ul li {
    float: right;
}

.navbar ul li a {
    display: flex;
    flex-direction: row;
    padding: 14px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    color: black;

    font-weight: 500;
    font-size: 13px;
}

.navbar input.active {
    background-color: rgb(255, 153, 0);
    color: #fff;
    transition: background-color 0.9s, color 0.2s;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/heading-bg.jpg);
    color: #fff;
    padding: 20px 0;
}

.contact-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-info i {
    margin-right: 10px;
}

.contact-info p {
    margin: 0;
    font-family: 'Poppins';
    font-size: 16px;
}

footer i {
    font-size: 20px;
}



@media screen and (max-width: 1680px) {

    .carousel-caption h1 {
        font-size: 40px;
        color: #fff;

        width: 100%;
        height: auto;

        align-items: center;


        margin-top: -80px;
    }

    .carousel-caption p {
        margin-top: 1%;

        width: 60%;
        height: auto;

        font-size: 18px;
        color: #ffffff;
    }


    .biul-informations li {
        text-align: left;

        margin-left: 22%;

        color: #ffffff;

        font-size: 13px;
        font-weight: 300;

        padding-top: 15px;

        width: 70%;


        width: 58%;
    }

}


@media screen and (max-width: 1440px) {

    .carousel-caption h1 {
        font-size: 30px;
        color: #fff;
        width: 100%;
        height: auto;

        margin-top: -50px;
    }

    .carousel-caption p {

        width: 60%;
        height: auto;

        font-size: 15px;
        color: #fff;
    }

    .biul-informations {
        height: 550px;
    }


    .biul-informations li {
        text-align: left;

        margin-left: 16%;

        color: #ffffff;

        font-size: 13px;
        font-weight: 300;

        padding-top: 20px;

        width: 70%;
    }

    .bi-informations-title h1 {
        font-size: 45px;
        width: 100%;
        height: 90px;

        margin-top: 5%;
    }


    #box {
        margin: 10px;
        padding: 10px;
        width: 95%;
        height: 165px;
        background-color: #fafafa;

        border-radius: 6px;
    }


    h2 {
        color: rgb(14, 5, 136);
        margin-left: 15%;
    }

    #box p {
        margin-left: 15%;
        font-size: 13px;

        align-items: center;
    }

    h2:hover {
        color: #3822ff;
        cursor: pointer;
    }

    #box img {
        width: 35px;
        display: block;
        margin-left: 3%;
        align-items: center;

    }



    #box:hover {
        translate: 0px 10px;
        transition: 1s;

        cursor: pointer;
    }

    #h1-container-title h1 {
        width: 100%;
        height: 10px;

        font-size: 45px;
    }

    #container-contato {
        background-color: #fafafa;
        width: 100%;
        height: auto;
    }

    label {
        width: 100%;
        height: auto;
    }

}

@media screen and (max-width: 1024px) {

    .carousel-caption h1 {
        font-size: 25px;
        color: #fff;

        width: 100%;
        height: auto;

        margin-top: -50px;
    }

    .carousel-caption p {

        width: 60%;
        height: auto;

        font-size: 11px;
        color: #fff;
    }



    .biul-informations {
        display: block;

        background-color: #4A6D8B;

        margin-top: 3%;

        width: 100%;
        height: 550px;
    }

    .biul-informations ul {

        margin-top: 2%;
    }

    .biul-informations li {
        text-align: left;

        color: #ffffff;

        font-size: 11px;
        font-weight: 300;

        width: 70%;
    }


    .biul-informations h1 {
        font-size: 45px;

        padding: 40px;
        color: rgb(0, 36, 90);
    }

    .bi-informations-paragraphs {
        background-color: #4A6D8B;
        color: #fff;
        font-size: 18px;
        font-weight: 500;

        text-align: center;

        padding: 2%;

        width: 70%;
        height: 200px;

        border: none;
        border-radius: 8px;

        margin-left: 14%;
    }


    .navbar {
        background-color: transparent;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
        transition: background-color 0.5s ease, height 0.5s ease;
        /* Adicionando a transição para a mudança de altura */
        height: 70px;
        /* Definindo uma altura inicial */
    }

    .navbar.scroll {
        height: 90px;
        /* Alterando a altura durante o scroll */
        background-color: rgba(0, 0, 0, 0.493);
    }

    .navbar input[type=button] {
        background-color: rgb(253, 253, 253);

        border: none;

        width: 60px;
        height: 30px;

        font-size: 8px;
        font-weight: 600;

        border-radius: 7px;
        color: black;

        cursor: pointer;
    }

    .navbar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: transparent;
    }

    .navbar ul li {
        float: right;
    }

    .navbar ul li a {
        display: flex;
        flex-direction: row;
        padding: 14px;
        margin: 10px;
        text-align: center;
        text-decoration: none;
        color: black;

        font-weight: 500;
        font-size: 13px;
    }

    .navbar input.active {
        background-color: rgb(255, 153, 0);
        color: #fff;
        transition: background-color 0.9s, color 0.2s;
    }

    #box {
        margin: 10px;
        padding: 10px;
        width: 100%;
        height: 200px;
        background-color: #fafafa;

        border-radius: 6px;
    }


    h2 {
        color: rgb(14, 5, 136);
        margin-left: 15%;

        font-size: 22.8px;
    }

    #box p {
        margin-left: 15%;
        font-size: 11px;

        align-items: center;
    }

    h2:hover {
        color: #3822ff;
        cursor: pointer;
    }

    #box img {
        width: 30px;
        display: block;
        margin-left: 3%;
        align-items: center;

    }



    #box:hover {
        translate: 0px 10px;
        transition: 1s;

        cursor: pointer;
    }

}

@media screen and (max-width: 667px) {

    .navbar {
        display: none;

    }

    .carousel-caption h1 {
        font-size: 12px;
        color: #fff;

        width: 100%;
        height: auto;

        margin-top: -48px;
    }

    .carousel-caption p {

        width: 100%;
        height: auto;

        font-size: 7px;
        color: #fff;
    }



    .division-bar {
        max-width: 320px;
        width: 7%;
        border-radius: 40px;
        height: 2px;
        background-color: rgb(255, 255, 255);
    }



    .bi-informations-title h1 {
        font-size: 26px;
        color: #041329;

        text-align: center;

        margin-top: 10%;

        display: block;
    }

    .bi-informations-img img {
        width: 90%;
        margin-left: 2%;
    }

    .bi-informations-paragraphs {

        background-color: #4A6D8B;
        color: #fff;
        font-size: 81%;
        font-weight: 500;

        text-align: center;

        padding: 2%;

        width: 70%;
        height: 200px;

        border: none;
        border-radius: 8px;

        margin-left: 14%;
    }


    .biul-informations h1 {
        font-size: 24px;
    }

    .biul-informations ul {
        margin-top: 2%;
    }

    .biul-informations li {
        text-align: left;

        margin-left: 15%;

        color: #ffffff;

        font-size: 8.9px;
        font-weight: 500;

        width: 75%;
    }

    #h1-container-title h1 {
        font-size: 27px;
    }

    .container {
        display: block;
        text-align: center;
        align-items: center;

        margin-left: 0%;
    }

    #box {
        width: 290%;
        height: auto;

        border-radius: 6px;
        margin-top: 10%;
    }

    #box img {
        width: 8%;
    }

}