.container {
  max-width: 1028px;
  margin: 0 auto;
}

#benefits .container {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.benefit {
  display: flex;
  gap: 20px;
}

.benefit__slide {
  --width: 420px;
  min-width: var(--width);
  max-width: var(--width);
  margin: 0;
}

.benefit__slide img {
  width: 100%;
}
